
body{
	background-color: #B6B7BC;
}
.content{
	background-color: white;
	margin: 20px auto;
}
.header{
	background-color: #4B6C9E;
	color: white;
}
.header h2{
	padding: 10px 0px 15px 20px;
	font-size: 20px;
	margin: 0px;
}
.login{
	float: left;
}
.menubar{
	background-color: #3A4F63;
	width: 100%;
}
.menu{
	background-color: #3A4F63;
	padding-left: 10px;
	width: auto;
}
.menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
	padding: 5px 0px;
	background-color: #465C71;
	border-color: #bfcbd6;
	border:1.5px;
	display: inline-block;

}
.menu li a{
	background-color: #465C71;
	color: #dde4ec;
	text-decoration: none;
	padding: 5px 10px;
	white-space: nowrap;

}
.menu li a:hover{
	color: #465c71;
	background-color: #f1f1f1
}
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #465c71;
    border-color: #bfcbd6;
    min-width: 310px;
    min-height: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: right;

}
/* Links inside the dropdown */
.dropdown-content a {
    color: #dde4ec;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: #465c71;
	background-color: #f1f1f1
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #bfcbd6
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
